In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
raw_df = pd.read_csv('public_emdat.csv')
has_costs = raw_df[raw_df['Total Damage, Adjusted (\'000 US$)'].notna()]
has_costs.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17
19,1902-0012-GTM,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,GTM,...,NaN,NaN,NaN,NaN,25000.0,880384.0,2.839669,NaN,2003-07-01,2023-09-25
22,1903-0002-USA,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,480000.0,16277328.0,2.948887,NaN,2003-07-01,2023-09-25
44,1905-0003-IND,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,25000.0,847777.0,2.948887,NaN,2003-07-01,2023-09-25
49,1905-0008-ALB,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,ALB,...,NaN,NaN,NaN,NaN,23800.0,807084.0,2.948887,NaN,2019-08-06,2023-09-25

In [10]:
has_costs['Year'] = has_costs['DisNo.'].apply(lambda x: int(x[:4]))
has_costs.head()

C:\Users\issac\AppData\Local\Temp\ipykernel_57408\3211849665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_costs['Year'] = has_costs['DisNo.'].apply(lambda x: int(x[:4]))

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update,Year
0,1900-0003-USA,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17,1900
19,1902-0012-GTM,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,GTM,...,NaN,NaN,NaN,25000.0,880384.0,2.839669,NaN,2003-07-01,2023-09-25,1902
22,1903-0002-USA,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,USA,...,NaN,NaN,NaN,480000.0,16277328.0,2.948887,NaN,2003-07-01,2023-09-25,1903
44,1905-0003-IND,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,IND,...,NaN,NaN,NaN,25000.0,847777.0,2.948887,NaN,2003-07-01,2023-09-25,1905
49,1905-0008-ALB,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,ALB,...,NaN,NaN,NaN,23800.0,807084.0,2.948887,NaN,2019-08-06,2023-09-25,1905